{% extends 'home/base.html' %}

{% block content %}
    <div class="text-center display-1 mb-3 mt-3">
        <h1>Sobre mi</h1>
    </div>

    <div class="text-center display-1 mb-3 mt-3" style="font-size: 35px">
        <p>Mi nombre es Tomás Greco, tengo 17 años y soy un estudiante de secundaria interesado en la programación. Decidí entrar al curso de Python de Coderhouse para aprender mi primer lenguaje de programación y, al mismo tiempo, entender sobre back-end y acercarme al desarrollo web. Como proyecto final de este curso, decidí hacer esta página de venta de productos con Django. Espero les guste.</p>
    </div>
{% endblock %}
