{% load static %}

<section class="productos">
  <h2>Nuestras Ofertas</h2>
  <div class="contenedor-productos" id="divProducto">
  </div>
</section>
<hr>
<br>
<h2 class="productos-destacados">Productos Destacados</h2>
<section class="productos-2">
  <div>
    <img class="producto-2" src= {% static "img/productos/img-tv-samsung-smart.jpg" %} alt="Television">
    <h3>Samsung Smart TV</h3>
  </div>
  <div>
    <img class="producto-2" src= {% static "img/productos/img-macbook-pro-2019.jpg" %} alt="Macbook">
    <h3>Macbook Pro 2019</h3>
  </div>
</section>