{% load static %}

<head>
  <style>
    .categorias-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .categoria-box {
      margin: 50px;
      padding: 10px;
      border-radius: 10px;
      background-color: #fbbd02;
      width: calc(33.33% - 20px);
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-family: "Raleway", sans-serif;
    }

    .categoria-name {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="categorias-container">
    {% for categoria in categorias %}
      {% if forloop.counter <= 4 %}  <!-- Limitar a cuatro cuadros en total -->
        <a href="{% url 'producto:categoria_filter' categoria.id %}" class="categoria-box">
          <span class="categoria-name">{{ categoria.nombre }}</span>
        </a>
      {% endif %}
    {% empty %}
      <p>No hay categorías disponibles.</p>
    {% endfor %}
  </div>
</body>