<Footer class="footer-nav">
    <hr>
    <div class="row">
      <div class="col-4">
        <h2>Seguinos</h2>
        <ul>
          <li><a href=""><i class='bx bxl-facebook'></i>Facebook</a></li>
          <li><a href=""><i class='bx bxl-instagram' ></i>Instagram</a></li>
          <li><a href=""><i class='bx bxl-linkedin' ></i>linkedin</a></li>
          <li><a href=""><i class='bx bxl-youtube' ></i>YouTube</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h2>Otros Servicios</h2>
        <ul>
          <li><a href="">MercadoLieble Pago</a></li>
          <li><a href="">MercadoLiebre Shops</a></li>
          <li><a href="">Liebre Envios</a></li>
        </ul>
      </div>
      <div class="col-4">
        <h2>Trabaja con nosotros</h2>
        <div>
          <ul>
            <li>
              <input type="text" name="destinatario" placeholder="Ingresa tu email">
              <button type="button" class="btn btn-primary">Enviar</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Footer>