{% extends 'producto/list.html' %}


{% block title %}
    Lista de Categorías de Productos
{% endblock title %}

{% block search %}
    <div class="py-lg-4">
        <form action="{% url 'producto:productocategoria_list' %}" method="get">
            <input name="consulta" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}
 
{% block table_header %}
    <tr>
        <th>Nombre de categoría</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
{% endblock table_header %}
 
{% block table_body %}
    {% for categoria in object_list %}
        <tr>
            <td>{{ categoria.nombre }}</td>
            <td>
                <a href="{% url 'producto:productocategoria_detail' categoria.id %}"
                   class="btn btn-secondary btn-sm">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'producto:productocategoria_update' categoria.id %}"
                   class="btn btn-primary btn-sm">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'producto:productocategoria_delete' categoria.id %}"
                   class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
