{% extends 'producto/list.html' %}

{% block title %}
    Lista de Productos
{% endblock title %}

{% block search %}
    <div class="py-lg-4">
        <form action="{% url 'producto:producto_list' %}" method="get">
            <input name="consulta" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}
 
{% block table_header %}
    <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
{% endblock table_header %}

{% block table_body %}
    {% for producto in object_list %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>${{ producto.precio }}</td>
            <td>
                <a href="{% url 'producto:producto_detail' producto.id %}"
                   class="btn btn-secondary btn-sm">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'producto:producto_update' producto.id %}"
                   class="btn btn-primary btn-sm">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'producto:producto_delete' producto.id %}"
                   class="btn btn-danger btn-sm" >Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
