{% extends 'venta/index.html' %}

{% block content_venta %}

    {% if object_list %}

        {% block search %}
        {% endblock search %}
 
        {% block list %}
            <div class="container">
                <table class="table">
                    <thead>
                        {% block table_header %}
                        {% endblock table_header %}
                    </thead>
                    <tbody>
                        {% block table_body %}
                        {% endblock table_body %}
                    </tbody>
                </table>
            </div>
            <p class="mt-5 fw-semibold text-center">Total de ventas: {{ object_list | length }}</p>
        {% endblock list %}
    {% else %}
        <p class="fs-4 fst-italic">No hay registros ingresados</p>
    {% endif %}

    {% url 'venta:index' as url %}
    {% include 'home/index_back.html' with link=url %}

{% endblock content_venta %}
