{% extends 'venta/index.html' %}

{% block title %}
    Eliminación de Ventas
{% endblock title %}

{% block content_venta %}
    <p class="fs-5 fst-italic">¿Confirmas eliminar "{{ object }}"?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-grid gap-3">
            <button type="submit" class="btn btn-danger">Confirmar</button>

            {% url 'venta:index' as url %}
            {% include 'home/index_back.html' with link=url %}

        </div>
    </form>
{% endblock content_venta %}
