{% extends 'venta/list.html' %}


{% block title %}
    Lista de Venta de Productos
{% endblock title %}

{% block search %}
    <div class="py-lg-4">
        <form action="{% url 'venta:venta_list' %}" method="get">
            <input name="consulta" type="text" placeholder="Buscar...">
        </form>
    </div>
{% endblock search %}
 
{% block table_header %}
    <tr>
        <th>Vendedor</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Fecha</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
{% endblock table_header %}
 
{% block table_body %}
    {% for venta in object_list %}
        <tr>
            <td>{{ venta.vendedor }}</td>
            <td>{{ venta.producto.nombre }}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.precio_total }}</td>
            <td>{{ venta.fecha_venta }}</td>
            <td>
                <a href="{% url 'venta:venta_detail' venta.id %}"
                   class="btn btn-secondary btn-sm">Ver detalle</a>
            </td>
            <td>
                <a href="{% url 'venta:venta_update' venta.id %}"
                   class="btn btn-primary btn-sm">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'venta:venta_delete' venta.id %}"
                   class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}
